<h2 class="my-4">Category</h2>
<ul class="list-group">
    <li class="list-group-item">
        <b>Category 1</b>
        <ul class="submenu">
            <li>Painting</li>
            <li>Animals</li>
        </ul>
    </li>
    <li href="#" class="list-group-item"><b>Category 2</b></li>
    <li href="#" class="list-group-item"><b>Category 3</b></li>
</ul>
