body {
    padding-top: 54px;
}

li{ list-style: none; }

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

footer a {color: #fff;}

.icon {
    width:12px;
    height:12px;
}

.pagination {
    margin-bottom: 30px;
}

.carousel{ margin-bottom: 30px;}

.submenu{font-size:0.9em;}