{% block footer %}
    <footer class="py-5 bg-dark text-white">
        <div class="container">
            <p class="m-0 text-white">Copyright &copy; {{ brand_name }} {{ brand_start_year ~ ' - ' ~ 'now'|date('Y') }}</p>

            <ul class="py-3">
               <li><a href="./">Link</a></li>
            </ul>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}