{% extends('base.html.twig') %}


{% block left_menu %}
    {% include('@Webshop/templates/blocks/left-menu.html.twig') %}
{% endblock %}


{% block page_heading %}
    <!-- Page Heading -->
    <h2 class="my-4">Page Layout
        <small>Secondary Text</small>
    </h2>
{% endblock %}


{% block page_content %}
    page content
{% endblock %}
